<app-cuidador-layout>
    <div class="patients-container">
      <h1>Mis Pacientes</h1>

      <div *ngIf="residents.length === 0 && !loading" class="no-patients">
        No tienes pacientes asignados.
      </div>
      <ul *ngIf="residents.length > 0" class="patients-list">
        <li *ngFor="let r of residents" class="patient-card">
          <h2>{{ r.firstName }} {{ r.lastName }}</h2>
          <p><strong>DNI:</strong> {{ r.dni }}</p>
          <p><strong>ID:</strong> {{ r.id }}</p>
        </li>
      </ul>
    </div>

</app-cuidador-layout>
